---
const res = await fetch("https://genshin.jmp.blue/characters");
const characterNames: string[] = await res.json();
---

<div class="box">
    <ul class="character-list">
        {
            characterNames.map((characterName) => {
                const imageName = characterName;
                const imageUrl = `https://genshin.jmp.blue/characters/${imageName}/icon`;

                return (
                    <li class="character-item">
                        <div class="character-portrait">
                            <img
                                src={imageUrl}
                                alt={characterName}
                                width="128"
                                height="128"
                                loading="lazy"
                            />
                        </div>
                        <div class="character-name">{characterName}</div>
                    </li>
                );
            })
        }
    </ul>
</div>

<style>
    .box {
        padding: 0 2rem 0 2rem;
        width: 90%;
    }

    .character-list {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, 128px);
        gap: 1.1rem; /* there's got to be a better solution than 1.1rem */
    }

    .character-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        width: 128px;
        height: 158px;
        box-sizing: border-box;
    }

    .character-portrait {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .character-name {
        font-weight: bold;
        font-size: clamp(10px, 4vw, 14px);
        text-align: center;
        line-height: 1.2;
    }
</style>
